#btnMenu {
    width: 4vh;
    height: auto;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background: #fff;
    cursor: pointer;
    border-radius: 4px;
}

header{
    height: 0;
}