<body>
    <div id="imagemAoLado">
        <img id="imagemVeiculoLogin" src="img/ranger.png">
    </div>
    <div class="auth-conteiner">
        <div class="logo-top">
            <img src="img/ford.png" alt="Logo Ford">
        </div>
        <div class="form-area">
            <h2>Boas-vindas</h2>

            @if (mensagemErro) {
            <div class="alert-error">
                <p>{{ mensagemErro }}</p>
            </div>
            }

            <form #loginForm="ngForm" (ngSubmit)="login()">

                <div id="input-emaildiv">
                    <!-- Exemplo para o campo de e-mail -->
                    <div class="input-container">
                        <img src="icons/IconeUsuarioLogin.png" alt="Ícone de Usuário" class="input-icon">
                        <input type="text" name="nome" [(ngModel)]="usuario.nome" placeholder=" Insira seu e-mail">
                    </div>
                </div>

                <!-- Exemplo para o campo de senha -->
                <div class="input-container">
                    <img src="icons/IconeCadeadoLogin.png" alt="Ícone de Senha" class="input-icon">
                    <input type="password" name="senha" [(ngModel)]="usuario.senha" placeholder=" Insira sua senha">
                </div>

                <div class="remember-me-container">
                    <label for="rememberMe">Logar automaticamente</label>
                    <input id="rememberMe" type="checkbox" name="lembrar" [(ngModel)]="lembrar">
                </div>
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</body>