/* ======= CONTAINER ======= */
.menu {
  width: 250px;
  position: fixed;
  top: 0;
  left: -100%;
  /* escondido */
  height: 100vh;
  background: #f5f5f5;
  z-index: 1001;
  /* sobrepõe o conteúdo */

}

#menu.menu-collapsed {
  width: 70px;
}

.menu.open {

  left: 0;/* aparece */

}

/* ======= LOGO ======= */
#menu-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  padding: 10px;
}

#menu-logo-img {
  width: 9.5vh;
  display: block;
}

#menu-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #444;
}

/* ======= LISTA ======= */
#menu-nav {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-link {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  background: #dcdcdc;
  color: #003057;
  font-weight: bold;
  transition: background .2s;
}

.menu-link:hover {
  background: #cfcfcf;
}

.menu-active {
  background: #c4c4c4 !important;
  border-left: 2px solid rgb(255, 0, 0);
}

#menu-close-btn {
  width: 2.5vh;
  height: auto;
}